
.teams_div {
  padding: 1em;
  /*height: 100%;*/
}

.no-elements{
  text-align: center;
}
.no-elements h2{
  margin-top: 20%;
  font-weight: lighter;
  color: #7f8c8d;
}

.center_div {
  text-align: center;
}
