<div class="content">
  <mat-toolbar class="foreground mat-elevation-z8" color="accent">
    <span>{{bike | titlecase}} - {{date}} - {{device | titlecase}}</span>
    <div class="right" >
<!--      <button mat-stroked-button color="black">-->
<!--          {{onlyRun ? 'All Data': 'Only Run'}}-->
<!--          <mat-icon>directions_run</mat-icon>-->
<!--      </button>-->
      <button mat-stroked-button color="black" (click)="buttonsService.downloadCsv()">
        CSV  <mat-icon>cloud_download</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <div class="bottom">
    <mat-divider></mat-divider>
    <nav mat-tab-nav-bar
         mat-align-tabs="end"
         class="mat-tab-group-inverted-header"
         color="accent">
      <!--  <button mat-icon-button id="hamburger" (click)="sidenav.toggle()">-->
      <!--    <mat-icon >menu</mat-icon>-->
      <!--  </button>-->
      <a mat-tab-link
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive"
         [routerLink]="link.url"
         *ngFor="let link of links">{{link.name}}</a>
    </nav>
  </div>

</div>
