<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z8">
    <a class="logo" [routerLink]="['/']"><span>Policumbent UI</span></a>
    <span class="fill_space"></span>
    <app-login-button></app-login-button>
  </mat-toolbar-row>
</mat-toolbar>
<!--<mat-tab-group mat-align-tabs="end">-->
<!--  <mat-tab label="Bikes">Bikes</mat-tab>-->
<!--  <mat-tab label="Weather Stations">Weather Stations</mat-tab>-->
<!--</mat-tab-group>-->
<!--<mat-toolbar color="primary">-->
<!--  <button mat-icon-button id="hamburger" (click)="sidenav.toggle()">-->
<!--    <mat-icon >menu</mat-icon>-->
<!--  </button>-->
<!--</mat-toolbar>-->

<nav mat-tab-nav-bar mat-align-tabs="end">
<!--  <button mat-icon-button id="hamburger" (click)="sidenav.toggle()">-->
<!--    <mat-icon >menu</mat-icon>-->
<!--  </button>-->
  <a mat-tab-link
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive"
     [routerLink]="link.url"
     *ngFor="let link of links">{{link.name}}</a>
</nav>
<router-outlet></router-outlet>

