.card {
  /*max-width: calc(50% - 4em - 4px);*/
  width: 390px;
  margin: 1em;
  display: block;

  /*margin: 1em;*/
}
.container {
  padding: 1em;
}


mat-form-field {
  width: 100%;
}

table {
  width: 100%;
}
