<div class="container" >
  <!--  todo: responsive card grid-->
  <mat-grid-list [cols]="breakpoint" rowHeight="470px" (window:resize)="onResize($event)">
    <mat-grid-tile> <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Alice Config</mat-card-title>
        <mat-card-subtitle>Change Alice configuration</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formGroupConfig">
          <mat-form-field appearance="fill">
            <mat-label>Choose a bike</mat-label>
            <mat-select formControlName="bike" required>
              <mat-option *ngFor="let bike of bikes" value="{{bike}}">{{bike}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Choose a track</mat-label>
            <mat-select formControlName="track" required>
              <mat-option value="bm">Battle Mountain</mat-option>
              <mat-option value="balocco">Balocco</mat-option>
              <mat-option value="orbassano">Orbassano</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Choose start time (UTC)</mat-label>
            <input matInput aria-label="Start time" [ngxTimepicker]="time" [format]="24" formControlName="time" required>
            <ngx-material-timepicker #time [defaultTime]="defaultTime"></ngx-material-timepicker>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="clearConfig()">CANCEL</button>
        <button mat-button (click)="saveConfig()">SAVE</button>
      </mat-card-actions>
    </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Add Comment</mat-card-title>
          <mat-card-subtitle>Add comment to Alice live updates</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="formGroupMessage">
            <mat-form-field appearance="fill">
              <mat-label>Comment</mat-label>
              <input matInput placeholder="Message to send to Alice" formControlName="comment" required>
            </mat-form-field>
          </form>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="formGroupMessage.reset()">CANCEL</button>
          <button mat-button (click)="saveComment()">SAVE</button>
        </mat-card-actions>
      </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card class="card">
      <mat-card-header>
        <mat-card-title>Messages</mat-card-title>
        <mat-card-subtitle>Messages visualized on Alice</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="commentsDataSource">
          <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef> Timestamp </th>
            <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
          </ng-container>
          <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef> Message </th>
            <td mat-cell *matCellDef="let element"> {{element.message}} </td>
          </ng-container>
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element"> <button mat-button (click)="deleteElement(element)"><mat-icon>delete</mat-icon></button> </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
      </mat-card-content>
    </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Notifications history</mat-card-title>
          <mat-card-subtitle>Notifications send from bikes to Alice</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="notificationDataSource">
            <ng-container matColumnDef="timestamp">
              <th mat-header-cell *matHeaderCellDef> Timestamp </th>
              <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
            </ng-container>
            <ng-container matColumnDef="message">
              <th mat-header-cell *matHeaderCellDef> Message </th>
              <td mat-cell *matCellDef="let element"> {{element.message}} </td>
            </ng-container>
            <ng-container matColumnDef="is_public">
              <th mat-header-cell *matHeaderCellDef> Public </th>
              <td mat-cell *matCellDef="let element"> {{element.public}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="notificationDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: notificationDisplayedColumns;"></tr>
          </table>
          <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
        </mat-card-content>
      </mat-card></mat-grid-tile>
  </mat-grid-list>




</div>
