/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-sidenav,
mat-sidenav.md-locked-open,
mat-sidenav.md-closed.md-locked-open-add-active {
  min-width: 200px !important;
  width: 85vw !important;
  max-width: 200px !important;
}
